@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import '../../styles/variables';
@import '../../styles/mixins';

:root {
    --primary: #0a4998;
    --secondary: #f76f25;
    --white: #fff;
    --black: #000;
    --text-color: #000;
    --font-family: 'Nunito', sans-serif;
    --default-layout-header-height: 200px;
    --default-layout-width: 1200px;
    --default-layout-horizontal-spacer: 20px;
    --tophead-height: 40px;
    --banner-height: 100px;
    --slider-height: 300px;
    --slider-height-lg: 400;
    --slider-height-md: 300px;
    --slider-height-sm: 200px;
    --nav-height: 80px;
    --slides-per-view: 4;
    --admin--background: #eff3f9;
    @include respond-to(lg) {
        --slides-per-view: 3;
    }

    @include respond-to(md) {
        --slides-per-view: 2;
    }

    @include respond-to(sm) {
        --slides-per-view: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
