@import '../../styles/variables';
@import '../../styles/mixins';

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform: translateY(0);
    opacity: 1;
}

.slideUp {
    transform: translateY(-100%);
    opacity: 0;
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.loadingWrapper {
    display: flex;
    align-items: center;
    @include respond-to(lg) {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }
}

.spinnerContainer {
    display: flex;
    align-items: center;
}

.dot1,
.dot2,
.dot3 {
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    margin: 0 0 0 8px;
    animation: bounce 1s infinite ease-in-out;
}

.dot2 {
    animation-delay: 0.3s;
}

.dot3 {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.loadingText {
    font-size: 1.6rem;
    margin-left: 8px;
    color: var(--primary);
    font-weight: bold;

    @include respond-to(lg) {
        font-size: 1.8rem;
    }
}
