@import '../../styles/mixins';
@import '../../styles/variables';

.product-item {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 4px 12px #00000014;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 2px 4px 16px #00000029;
    }

    &-image {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }

    &-details {
        padding: 16px;
    }

    &-name {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--primary);
        margin: 8px 0;
        min-height: 60px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include respond-to(lg) {
            font-size: 2rem;
        }

        @include respond-to(sm) {
            font-size: 1.6rem;
            min-height: 50px;
        }
    }

    &-button {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
        }
    }
}
