@import '../../../styles/mixins';
@import '../../../styles/variables';

.wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    padding: 0 20px;
    @include respond-to(sm) {
        margin-top: var(--nav-height);
    }
}

.inner {
    width: var(--default-layout-width);
    margin: 0 auto;
    @include respond-to(lg) {
        width: 100%;
    }
}

.slide-wrapper {
    width: 100%;
}

.swiper-container {
    width: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-wrapper {
    margin-top: 40px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    cursor: pointer;
    &:hover {
        .image-container {
            transform: scale(1.04);
        }

        .service-title {
            color: var(--primary);
        }
    }
}

.image-container {
    width: 280px;
    height: 360px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
}

.service-title {
    max-width: 280px;
    color: var(--primary);
    font-size: 1.8rem;
    text-align: center;
    margin-top: 32px;
    transition: all ease-in-out 0.2s;
    font-weight: 600;
}

.service-layout {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;

    @include respond-to(lg) {
        grid-template-columns: 100%;
    }

    .service-image {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 40px;

        @include respond-to(lg) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
        }

        img {
            width: 100%;
            border-radius: 8px;
            @include respond-to(lg) {
                width: 60%;
            }
        }
    }

    .service-content {
        flex: 2;
        h2 {
            font-size: 2.2rem;
            margin-bottom: 20px;
            text-align: left;
            @include respond-to(lg) {
                margin-top: 40px;
                font-size: 3.2rem;
            }
        }

        p {
            font-size: 1.6rem;
            line-height: 1.5;
            color: var(--text-color);
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: justify;
            line-height: 2.2;
        }
    }
}
