@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.wrapper {
    width: 100%;
    @include respond-to(lg) {
        width: 100%;
    }
    .inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .library-wrapper {
        display: flex;
        gap: 20px;
        @include respond-to(lg) {
            flex-direction: column;
        }
    }

    .library-videos,
    .library-images {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include respond-to(lg) {
            width: 100%;
        }
    }

    .wrapper-item {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .library {
        width: 100%;
        overflow: hidden;
        gap: 10px;

        .main-video {
            width: 100%;
            height: 340px;
            iframe {
                border-radius: 8px;
                width: 100%;
                height: 340px;

                @include respond-to(lg) {
                    height: 440px;
                }

                @include respond-to(sm) {
                    height: 200px;
                }
            }

            @include respond-to(lg) {
                height: 440px;
            }

            @include respond-to(sm) {
                height: 200px;
            }
        }

        .main-image {
            width: 100%;
            height: 340px;
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid var(--primary);
            @include respond-to(lg) {
                height: 440px;
            }

            @include respond-to(sm) {
                height: 200px;
            }
        }

        .main-image-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .thumbnail {
        margin-top: 12px;
        height: 80px;
        padding: 4px;
        @include respond-to(lg) {
            height: 100px;
        }

        @include respond-to(sm) {
            height: 60px;
        }
    }

    .thumbnail-image {
        width: 100%;
        height: 100%;
        min-height: 100%;
        border-radius: 8px;
        object-fit: cover;
        border: 1px solid var(--primary);
    }

    .modal-image {
        width: 100%;
        height: auto;
        border-radius: 4px;
        max-height: 80vh;
        max-width: 80vw;
        object-fit: cover;
    }
}
